.externalNativeBuild/
.gradle/
.idea/
.settings/
.project
.classpath
build/
dist/
artifacts/
.cxx/
*.apk
*.aab
aa-menu*.xml
aa-settings.xml
window_views_dump/
window_views_raw/
.agents/
.codex/
.codex-adb/
*.iml
local.properties
google-services.json
TODO
res/*.jks

# Custom builds
fermata/src/custom/
build-custom.gradle
